.toggle-button {
  background-color: rgb(230, 230, 230);
  border: none;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}
